<script type="text/mustache-template" id="HeaderTemplate">

<div id="header">
        <div class="head">
            <h1>{{title}}</h1>
            <a class="H-back" href="javascript:history.back(-1);">返回</a>
            <a class="H-home" href="/#page/Catalog">首页</a>
            <a class="H-customerservice" href="/#page/Catalog">客服</a>
        </div>
    </div>
@*<header>
<div class="headline">
<div class="fd-white newHead">
<div class="fd-locate newScren">
<h2 class="newHead_tit">{{title}}</h2>  
<div class="newMeb"><a href="/#page/MyOrder"><span></span></a></div>      
</div>

<a class="newBack" href="javascript:history.back(-1);"><span></span></a>
<a class="newHome" href="/#page/MyCart"><span></span></a>
</div>
</div>
</header>*@
</script>
 