
<script type="text/mustache-template" id="MyExtensionManagerTemplate">
        <div id="header">
        <div class="head">
            <h1>推广管理</h1>
            <a class="H-back" href="/#page/MyUserInfo">返回</a>
            <a class="H-home" href="/#page/Catalog">首页</a>
        </div>
    </div>

    <div data-role="content" class="pad01">
        <div class="E-Box">
        
           <div class="Item">
                <a href="/#page/UpgradeToDistributor">
                    <b>升级为分销商</b>
                </a>
            </div>

           <div class="Item">
                <a href="/#page/MyCommendPeople">
                    <b>我的会员</b>
                </a>
            </div>

@*            <div class="Item">
                <a href="/#page/MyCommissionList">
                    <b>佣金明细</b>
                </a>
            </div>*@

           <div class="Item">
                <a href="/#page/MyBankCardList">
                    <b>我的银行卡</b>
                </a>
            </div>

            <div class="Item">
                <a href="/#page/MyReflectRecord">
                    <b>提现记录</b>
                </a>
            </div>

           <div class="Item">
                <a href="/#page/MyPreDepositReflect">
                    <b>预存款提现</b>
                </a>
            </div>

           <div class="Item">
                <a href="/#page/MyPromotionOrder">
                    <b>推广订单</b>
                </a>
            </div>

          @*  <div class="Item">
                <a href="/#page/MyOrdersWithRebate">
                    <b>订单返利信息</b>
                </a>
            </div>*@
        </div>

    </div>

</script>