<script type="text/mustache-template" id="MyReturnGoodsDetailAddress">
    {{>header}}
    <div id="jqt" data-role="page" class="wrapper">
        <div data-role="content" class="pt3m">
            <div class="Express">
                <h3>为确保退货顺畅，请如实填写以下信息</h3>
                <ul>
                    <li class="clearfix">
                        <label>物流公司</label>
                        <div class="dd"><input type="text" value="" id="MainDistribution" /></div>
                    </li>

                    <li class="clearfix">
                        <label>物流单号</label>
                        <div class="dd"><input type="text" value="" id="StreamOrder" /></div>
                    </li>
                </ul>
            </div>
            <div class="BtnBox2 fd-tr">
                <button class="orgbtn" id="ReturnGoodsAddress">提交</button>
            </div>
        </div>
    </div>
</script>
