<script type="text/mustache-template" id="ProductEvaluate">
    {{>header}}
    <div id="jqt" data-role="page" class="wrapper">     
        <div data-role="content" class="pad01 PersDate">
            <div class="Myorderlist">
                <ul class="clearfix">
                    <li>
                        <div class="List">
                            <p class="img"><span><img id="productimg" src="" onerror="javascript: this.src = '/Content/Images/noImage.gif'"><span></span></span></p>
                            <div class="info">
                                <h2></h2>
                                <p><span class="pri"></span> <span class="num"></span></p>
                                <p class="spec"></p>
                            </div>
                        </div>
                        <div class="graded">
                            <dl class="clearfix">
                                <dt>商品</dt>
                                <dd>
                                    <span class="cur"><em class="Star1"></em></span>
                                    <span class="cur"><em class="Star2"></em></span>
                                    <span class="cur"><em class="Star3"></em></span>
                                    <span class="cur"><em class="Star4"></em></span>
                                    <span class="cur"><em class="Star5"></em></span>
                                </dd>
                            </dl>
                           
                        </div>
                        <div class="pjarea">
                            <textarea placeholder="购物心得200字以内..." id="EvaluateContent"></textarea>
                        </div>

                    </li>

                </ul>
            </div>
            <div class="fixbtn">
                <div class="btnbox">
                    <a href="javascript:void(0)" class="orange field_btn" id="btnSubmitEvaluate">提交</a>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
</script>
