<script type="text/mustache-template" id="DevelopMember">
    {{>header}}
    <div id="jqt" data-role="page" class="wrapper">     
        <div data-role="content" class="pt3m">
            <div class="AmDevel">
                <div class="img"><img id="imageQrc" src="http://qr.liantu.com/api.php?text=window.location.host/#page/QRCodeRegister
?CommendPeople={{loginid}}" /></div>
                <div class="txt">
                    
                </div>
            </div>

        </div>

    </div>
</script>
