<script type="text/mustache-template" id="ErrorPageTemplate">
{{>header}}
<div data-role="content" class="bs-conten wxContent">
<div class="ordinary">
<figure>
<h2><img src="/Content/images/colost.png" /></h2>
<p> 对不起!您所访问的页面不存在 或者已删除。</p>
</figure>
</div>
 {{>innerFooter}}
</script>

