<script type="text/mustache-template" id="LoginTemplate11">
@*{{>header}}
<div data-role="content" class="bs-conten wxContent">
<div class="ordinary">
<figure>
<h2><img src="/Content/images/cookst.png" /></h2>
<p>对不起！页面已失效！<br /> 您需要从新从微信进入</p>
</figure>
</div>
{{>innerFooter}}*@
</script>
