<script type="text/mustache-template" id="MyCashEdit">
    {{>header}}
    <div id="jqt" data-role="page" class="wrapper">      
        <div data-role="content" class="pt3m Withdraw">
            <div class="E-Box mt00">
                <div class="Item clearfix">
                    <label>开户人</label>
                    <div class="dd"><input type="text" value="" id="EditName"/></div>
                </div>
            </div>
            <div class="E-Box">
                <div class="Item clearfix">
                    <label>开户银行</label>
                    <div class="dd"><input type="text" value="" id="EditBankName"/></div>
                </div>
            </div>

            <div class="E-Box">
                <div class="Item clearfix">
                    <label>银行卡号</label>
                    <div class="dd"><input type="text" value="6217002874415854236" id="EditBankAccount"/></div>
                </div>
            </div>

            <div class="mt3m pdrd">
                <a href="javascript:void(0)" class="orange field_btn" id="CashEditDelete">删除账户</a>
            </div>

        </div>

    </div>
</script>
