<script type="text/mustache-template" id="MySetUpTemplate">
    <div id="jqt" data-role="page" class="wrapper">
        {{>header}}
        <div data-role="content" class="pt3m">
            <div class="E-Box mt00">
                <div class="Item"><a href="/#page/MyBusinessPassWord">设置交易密码</a></div>
                <div class="Item"><a href="/#page/MyLoginPassWord">修改登录密码</a></div>
            </div>
        </div>
    </div>
</script>
