<script type="text/mustache-template" id="MySex">
    {{>header}}
    <div id="jqt" data-role="page" class="wrapper">
        <div data-role="content" class="pt3m PersDate">
            <ul class="PerSex">
                <li ><a href="javascript:void(0)" id="Other">保密</a></li>
                <li ><a href="javascript:void(0)"id="Man">男</a></li>
                <li ><a href="javascript:void(0)"id="Woman">女</a></li>
            </ul>
            <div class="mt1m pdrd">
                <a href="javascript:void(0)" class="orange field_btn" id="UpdateSex">提交</a>
            </div>
        </div>

    </div>
</script>
