<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
<title>个人中心</title>
<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="jqt" data-role="page" class="wrapper">
 <div id="header">
     <div class="head">
        <h1>个人中心</h1>
        <a class="H-back" href="javascript:history.back(-1);">返回</a>
     </div>
  </div>
  
  <div data-role="content" class="pad01">
     <div class="MemBg">
         <div class="MemInfo clearfix">
            <div class="MemImg"><img src="../../ImgUpload/phote.jpg" /></div> 
            <div class="MemName">
               <h4><b>惠心如冰</b><a href="#">充值</a></h4>
               <p><span>预存款：<font>100.00元</font></span><span>积分：<font>100</font></span></p>
            </div>
            <a class="MemGo" href="/#page/MyUserInfo"></a>
         </div>
      </div>
      <!--MemBg end-->
      <div class="MemOrder">
         <ul class="clearfix">
            <li><a href="#"><em><img src="../../images/MemIcn01.png" /></em><p>待付款</p></a></li>
            <li><a href="#"><em><img src="../../images/MemIcn02.png" /></em><p>待发货</p></a></li>
            <li><a href="#"><em><img src="../../images/MemIcn03.png" /></em><p>待收货</p></a></li>
            <li><a href="#"><em><img src="../../images/MemIcn04.png" /></em><p>待评价</p></a></li>
            <li><a href="#"><em><img src="../../images/MemIcn05.png" /></em><p>退款</p></a></li>
         </ul>
      </div><!--MemOrder end-->
      <div class="E-Box">
          <div class="Item">
            <a href="">
               <b>全部订单</b>
            </a>
          </div>
          <div class="Item">
            <a href="">
               <b>我的收藏</b>
            </a>
          </div>
          <div class="Item">
            <a href="">
               <b>去晒单</b>
            </a>
          </div>
       </div>
       
       <div class="E-Box">
          <div class="Item">
            <a href="">
               <span class="fd-right">发展会员</span>
               <b>我的团队</b>
            </a>
          </div>
       </div>
       
       <div class="E-Box">
          <div class="Item">
            <a href="/#page/AddressList?0">
               <b>管理收货地址</b>
            </a>
          </div>
       </div>
       
       <div class="E-Box">
          <div class="Item">
            <a href="">
               <b>我的消息</b>
            </a>
          </div>
       </div>
    
  </div>
    <div class="navfix">
        <ul class="clearfix">
            <li class="F-home"><a href="/#page"><em></em><p>主页</p></a></li>
            <li class="F-cate"><a href="/#page/FirstCategory?0"><em></em><p>类目</p></a></li>
            <li class="F-find"><a href="#"><em></em><p>发现</p></a></li>
            <li class="F-cart"><a href="#"><em></em><p>购物车</p></a></li>
            <li class="F-member cur"><a href="#"><em></em><p>我的</p></a></li>
        </ul>
    </div>
</div>
</body>
</html>
