<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
<title>充值</title>
<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/index.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
</head>

<body>
<div id="jqt" data-role="page" class="wrapper">

  <div id="header">
     <div class="head">
        <h1>充值</h1>
        <a class="H-back" href="javascript:history.back(-1);">返回</a>
     </div>
  </div>
  <div data-role="content" class="pt3m PersDate">
     <div class="E-Box">
         
          <div class="Item">
            <input class="name" value="" placeholder="请输入充值金额" type="text" />
          </div>
          
      </div>
      <div class="orderpay">
         <h3>请选择付款方式</h3>
         <ul class="clearfix">
          <li class=""><a href="#"><b>支付宝支付</b></a></li>
          <li class="cur"><a href="#"><b>微信支付</b></a></li>
         </ul>
       </div>
      <div class="mt1m pdrd">
        <a href="javascript:void(0)" class="orange field_btn" >确认支付</a>
     </div>
  </div>
  
  <!--输入支付密码-->
<div class="PayCode" style="display:none;">
     <div class="popbg"></div>
     <div class="paycodebox">
        <div class="colsed"></div>
        <h2>请输入支付密码</h2>
        <div class="payfrom">
           <input type="text" class="inptext" placeholder="请输入支付密码" />
           <input type="button" class="inpbtn" value="付款" />
        </div>
     </div>
</div>
  
</div>

</body>
</html>
