<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
<title>我的收藏</title>
<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/index.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
</head>

<body>
<div id="jqt" data-role="page" class="wrapper">
 <div id="header">
     <div class="head">
        <h1>我的收藏</h1>
        <a class="H-back" href="javascript:history.back(-1);">返回</a>
     </div>
  </div>
  
  <div data-role="content" class="pt3m">
    <div class="W_DelItm">
          <a class="W_EditIcn fd-right" href="javascript:;">编辑</a>
          <b>共<font class="fd-pale">5</font>条消息</b>
      </div>
      <div class="Smalllist">
        <ul class="Mycollect clearfix">
           <li class="clearfix">
             <a href="#">
                <div class="img"><span><img src="../../ImgUpload/product04.jpg" /></span></div>
                <div class="text">
                <h4>本田赛车服裤子套装冬摩托车衣服夹克机车衣</h4>
                <p class="pri">¥1000070.00</p>
                <p class="num">销量 100</p>
                </div>
             </a>
             <a class="W_DelIcn" href="javascript:;"></a>
           </li>
           <li class="clearfix">
             <a href="#">
                <div class="img"><span><img src="../../ImgUpload/product04.jpg" /></span></div>
                <div class="text">
                <h4>本田赛车服裤子套装冬摩托车衣服夹克机车衣</h4>
                <p class="pri">¥1000070.00</p>
                <p class="num">销量 100</p>
                </div>
             </a>
             <a class="W_DelIcn" href="javascript:;"></a>
           </li>
           <li class="clearfix">
             <a href="#">
                <div class="img"><span><img src="../../ImgUpload/product04.jpg" /></span></div>
                <div class="text">
                <h4>本田赛车服裤子套装冬摩托车衣服夹克机车衣</h4>
                <p class="pri">¥1000070.00</p>
                <p class="num">销量 100</p>
                </div>
             </a>
             <a class="W_DelIcn" href="javascript:;"></a>
           </li>
           <li class="clearfix">
             <a href="#">
                <div class="img"><span><img src="../../ImgUpload/product04.jpg" /></span></div>
                <div class="text">
                <h4>本田赛车服裤子套装冬摩托车衣服夹克机车衣</h4>
                <p class="pri">¥1000070.00</p>
                <p class="num">销量 100</p>
                </div>
             </a>
             <a class="W_DelIcn" href="javascript:;"></a>
           </li>
           
        </ul>
     
     </div>
    
  </div>
  
  
</div>
<script type="text/javascript">
  $(".W_EditIcn").click(function(){
	  $(".W_DelIcn").toggle();
	  $(".Mycollect li .text").toggleClass("pr1");
	  if($(".W_EditIcn").html()=="编辑"){
		  $(".W_EditIcn").html("完成");
		  }else if($(".W_EditIcn").html()=="完成"){
	        $(".W_EditIcn").html("编辑");
		  }
	  })
  $(".W_DelIcn").each(function(){
	    $(this).click(function(){
	    $(this).parent().hide();
	  })
	  })
</script>
</body>
</html>
