<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
<title>提现明细</title>
<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/index.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="jqt" data-role="page" class="wrapper">

  <div id="header">
     <div class="head">
        <h1>提现明细</h1>
        <a class="H-back" href="javascript:history.back(-1);">返回</a>
     </div>
   </div>
   <div data-role="content" class="pt3m Withdraw">
     <div class="E-Box mt00">
       <div class="Item">
          <h4><font class="fd-fbange fd-right">-50.00</font><b>提现到银行卡</b></h4>
          <p class="fs08 fd-gray2"><font class="fd-right">2015-06-12</font><span>中国建设银行（尾号9455）</span></p>
       </div>
       <div class="Item">
          <h4><font class="fd-fbange fd-right">-100.00</font><b>提现到银行卡</b></h4>
          <p class="fs08 fd-gray2"><font class="fd-right">2015-06-03</font><span>中国建设银行（尾号9455）</span></p>
       </div>
    </div>
      
  </div>
  
</div>

</body>
</html>
