<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
<title>管理账户</title>
<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/index.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="jqt" data-role="page" class="wrapper">

  <div id="header">
     <div class="head">
        <h1>管理账户</h1>
        <a class="H-back" href="javascript:history.back(-1);">返回</a>
     </div>
   </div>
   <div data-role="content" class="pt3m Withdraw">
     <div class="E-Box mt00">
        <div class="Item clearfix">
           <label>开户人</label>
           <div class="dd"><input type="text" value="张三" /></div>
        </div>
     </div>
     <div class="E-Box">
        <div class="Item clearfix">
           <label>开户银行</label>
           <div class="dd"><input type="text" value="中国建设银行" /></div>
        </div>
     </div>
     
     <div class="E-Box">
        <div class="Item clearfix">
           <label>银行卡号</label>
           <div class="dd"><input type="text" value="6217002874415854236" /></div>
        </div>
     </div>
     
     <div class="mt3m pdrd">
        <a href="javascript:void(0)" class="orange field_btn" >删除账户</a>
     </div>
      
  </div>
  
</div>

</body>
</html>
