<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
<title>申请退货</title>
<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/index.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="jqt" data-role="page" class="wrapper">
 <div id="header">
     <div class="head">
        <h1>退货</h1>
        <a class="H-back" href="javascript:history.back(-1);">返回</a>
     </div>
  </div>
  
  <div data-role="content" class="pt3m">
     <div class="orderlist">
         <ul class="clearfix">
            <li>
                <div class="h1">
                   <font class="fd-right fs07">下单时间：2015-12-14  08:12:49</font>
                   <span>订单状态：待收货</span>
                </div>
                <div class="ordpro">
                   <a href="#">
                      <div class="img"><span><img src="../../ImgUpload/product01.jpg" /></span></div>
                      <div class="info">
                          <h4>VERSACE/范思哲晶钻女用香水范思哲晶钻女用香水</h4>
                          <div class="mt05">
                             <b class="price">￥1000</b> <span class="fd-gray">x1</span>
                          </div>
                      </div>
                   </a>
                </div>
                <div class="total fd-tr">
                   <span>运费:￥10.00</span>
                   <span class="ml07">小计:￥100010.00</span>
                </div>
                <div class="btnbox">
                    <a href="#" class="btn3">查看物流</a>
                    <a href="#" class="btn2">确认收货</a>
                 </div>
             </li>
             
         </ul>
      </div>
    
    <div class="E-Box">
       <div class="Item">
          <b>张杰<span class="ml07">13545295621</span></b>
          <p class="fs08 fd-gray2">湖北省武汉市江岸区万达广场</p>
       </div>
       <div class="Item">
          <b>发票信息(普通发票)</b>
          <p class="fs08 fd-gray2">发票抬头<font class="ml07">张杰</font></p>
          <p class="fs08 fd-gray2">发票类型<font class="ml07">个人</font></p>
          <p class="fs08 fd-gray2">发票内容<font class="ml07">明细</font></p>
       </div>
       <div class="Item">
          <b>订单留言</b>
          <p><textarea placeholder="请在周一到周五上班时间送货"></textarea></p>
       </div>
    </div>
    
    <div class="BtnBox2 fd-tc">
       <button class="orgbtn">申请退货</button>
    </div>
      
       
  </div>
</div>

</body>
</html>
