<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
<title>申请退货</title>
<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/index.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="jqt" data-role="page" class="wrapper">
 <div id="header">
     <div class="head">
        <h1>退货</h1>
        <a class="H-back" href="javascript:history.back(-1);">返回</a>
     </div>
  </div>
  
  <div data-role="content" class="pt3m">
     <div class="Express">
        <h3>为确保退货顺畅，请如实填写以下信息</h3>
        <ul>
            <li class="clearfix">
               <label>物流公司</label>
               <div class="dd"><input type="text" value="圆通快递" /></div>
            </li>
        
            <li class="clearfix">
               <label>物流单号</label>
               <div class="dd"><input type="text" /></div>
            </li>
        </ul>
     </div>
    
    
    
    <div class="BtnBox2 fd-tr">
       <button class="orgbtn">提交</button>
    </div>
      
       
  </div>
</div>

</body>
</html>
