<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
<title>积分明细</title>
<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/index.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="jqt" data-role="page" class="wrapper">

  <div id="header">
     <div class="head">
        <h1>积分明细</h1>
        <a class="H-back" href="javascript:history.back(-1);">返回</a>
     </div>
  </div>
  <div data-role="content" class="pt3m">
     <div class="InteDetail">
            <div class="itm clearfix">
              <div class="dt">
                 <h4>评价送积分</h4>
                 <p>2016-01-12   11:22:30</p>
              </div>
              <div class="dd fd-green">+10</div>
            </div>
            <div class="itm clearfix">
              <div class="dt">
                 <h4>签到送积分</h4>
                 <p>2016-01-12   11:22:30</p>
              </div>
              <div class="dd fd-green">+10</div>
            </div>
            <div class="itm clearfix">
              <div class="dt">
                 <h4>购物抵积分</h4>
                 <p>2016-01-12   11:22:30</p>
              </div>
              <div class="dd fd-fbange">-200</div>
           </div>
     </div>
      
  </div>
  
</div>

</body>
</html>
