<script type="text/mustache-template" id="FooterTemplate">
   {{>innerFooter}}
</script>

<script type="text/mustache-template" id="InnerFooterTemplate">
<div class="navfix">
        <ul class="clearfix">
            <li class="F-home"><a href="/#page/Catalog"><em></em><p>主页</p></a></li>
            <li class="F-cate"><a href="/#page/FirstCategory?0"><em></em><p>类目</p></a></li>
            @*<li class="F-find"><a href="#"><em></em><p>发现</p></a></li>*@
            <li class="F-cart"><a href="/#page/MyCart"><em></em><p>购物车</p></a></li>
            <li class="F-member"><a href="/#page/MyUserInfo"><em></em><p>我的</p></a></li>
        </ul>
    </div>

</script>
