<script type="text/mustache-template" id="MyBusinessPassWordTemplate1">
    <div id="jqt" data-role="page" class="wrapper">
        {{>header}}
        <div data-role="content" class="pt3m PersDate">
            <div class="E-Box mt00">
                <div class="Item">
                <input class="name" type="password" id="NewPayPwd1" placeholder="新密码" />
                </div>
                <div class="Item">
                <input class="name" type="password" id="NewPayPwd2" placeholder="确认新密码" />
                </div>
            </div>
            <div class="mt3m pdrd">
            <a href="javascript:void(0)" class="orange field_btn" id="SubmitUpdateBusinessPwd" >提交</a>
            </div>
        </div>
    {{>innerFooter}}
  </div>
</script>


<script type="text/mustache-template" id="MyBusinessPassWordTemplate2">
    <div id="jqt" data-role="page" class="wrapper">
        {{>header}}
        <div data-role="content" class="pt3m PersDate">
            <div class="E-Box mt00">
     <div class="Item">
                <input class="name" type="password" id="OldPayPwd" placeholder="旧密码" />
                </div>
                <div class="Item">
                <input class="name" type="password" id="NewPayPwd1" placeholder="新密码" />
                </div>
                <div class="Item">
                <input class="name" type="password" id="NewPayPwd2" placeholder="确认新密码" />
                </div>
            </div>
            <div class="mt3m pdrd">
            <a href="javascript:void(0)" class="orange field_btn" id="SubmitUpdateBusinessPwd" >提交</a>
            </div>
        </div>
    {{>innerFooter}}
  </div>
</script>
