<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
<title>我的预存款</title>
<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/index.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="jqt" data-role="page" class="wrapper">

  <div id="header">
     <div class="head">
        <h1>我的预存款</h1>
        <a class="H-back" href="javascript:history.back(-1);">返回</a>
     </div>
  </div>
  <div data-role="content" class="pt3m">
     <div class="Pre-deposit">
         <ul class="clearfix">
            <li>
              <span class="name">提现</span>
              <span class="val fd-fbange">-50.00</span>
              <span class="time">2015-11-12</span>
            </li>
            <li>
              <span class="name">提现</span>
              <span class="val fd-fbange">-20.00</span>
              <span class="time">2015-11-12</span>
            </li>
            <li>
              <span class="name">推荐会员返利</span>
              <span class="val fd-green">+15.00</span>
              <span class="time">2015-11-12</span>
            </li>
             <li>
              <span class="name">提现</span>
              <span class="val fd-fbange">-20.00</span>
              <span class="time">2015-11-12</span>
            </li>
            <li>
              <span class="name">购物满500返10的优惠活动</span>
              <span class="val fd-green">+10.00</span>
              <span class="time">2015-11-12</span>
            </li>
         </ul>
     </div>
      
  </div>
  
</div>

</body>
</html>
