<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
<title>申请退款</title>
<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/index.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="jqt" data-role="page" class="wrapper">
 <div id="header">
     <div class="head">
        <h1>退款</h1>
        <a class="H-back" href="javascript:history.back(-1);">返回</a>
     </div>
  </div>
  
  <div data-role="content" class="pt3m">
     <div class="orderlist">
         <ul class="clearfix">
            <li>
                <div class="h1">
                   <span>订单状态：已退款</span>
                </div>
                <div class="ordpro">
                   <a href="#">
                      <div class="img"><span><img src="../../ImgUpload/product01.jpg" /></span></div>
                      <div class="info">
                          <h4>VERSACE/范思哲晶钻女用香水范思哲晶钻女用香水</h4>
                          <div class="mt05">
                             <b class="price">￥1000</b> <span class="fd-gray">x1</span>
                          </div>
                      </div>
                   </a>
                </div>
             </li>
         </ul>
      </div>
      
      <div class="ReaBox">
         <b>退款金额 ： <font class="fd-pale">￥1188.00</font></b>
         <p>退款原因 ：<font>不想要了</font></p>
         <p>申请时间：<font>2015-12-13  12:30:23</font></p>
         <p>退款时间：<font>2015-12-14  21:15:57</font></p>
      </div> 
  </div>
</div>

</body>
</html>
