<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
<title>退款退货</title>
<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="../../Content/css/index.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="jqt" data-role="page" class="wrapper">
 <div id="header">
     <div class="head">
        <h1>退款退货</h1>
        <a class="H-back" href="javascript:history.back(-1);">返回</a>
     </div>
  </div>
  
  <div data-role="content" class="pt3m">
    
      <div class="orderlist">
         <ul class="clearfix">
            <li>
                <div class="h1">
                   <span class="fd-right">总价 <font class="fd-pale">¥ 179.00</font></span>
                   <span>订单状态：退款审核中</span>
                </div>
                <div class="ordpro">
                   <a href="#">
                      <div class="img"><span><img src="../../ImgUpload/product01.jpg" /></span></div>
                      <div class="info">
                          <h4>VERSACE/范思哲晶钻女用香水范思哲晶钻女用香水</h4>
                          <p>
                             <b class="price">￥1000</b> <span class="fd-gray">x1</span>
                          </p>
                          <p class="spec">口味：草莓味</p>
                      </div>
                   </a>
                </div>
                <div class="ordpro">
                   <a href="#">
                      <div class="img"><span><img src="../../ImgUpload/product01.jpg" /></span></div>
                      <div class="info">
                          <h4>VERSACE/范思哲晶钻女用香水范思哲晶钻女用香水</h4>
                          <p>
                             <b class="price">￥1000</b> <span class="fd-gray">x1</span>
                          </p>
                          <p class="spec">口味：草莓味</p>
                      </div>
                   </a>
                </div>
             </li>
             <li>
                <div class="h1">
                   <span class="fd-right">总价 <font class="fd-pale">¥ 179.00</font></span>
                   <span>订单状态：已退款</span>
                </div>
                <div class="ordpro">
                   <a href="#">
                      <div class="img"><span><img src="../../ImgUpload/product01.jpg" /></span></div>
                      <div class="info">
                          <h4>VERSACE/范思哲晶钻女用香水范思哲晶钻女用香水</h4>
                          <p>
                             <b class="price">￥1000</b> <span class="fd-gray">x1</span>
                          </p>
                          <p class="spec">口味：草莓味</p>
                      </div>
                   </a>
                </div>
             </li>
             <li>
                <div class="h1">
                   <span class="fd-right">总价 <font class="fd-pale">¥ 179.00</font></span>
                   <span>订单状态：退货审核中</span>
                </div>
                <div class="ordpro">
                   <a href="#">
                      <div class="img"><span><img src="../../ImgUpload/product01.jpg" /></span></div>
                      <div class="info">
                          <h4>VERSACE/范思哲晶钻女用香水范思哲晶钻女用香水</h4>
                          <p>
                             <b class="price">￥1000</b> <span class="fd-gray">x1</span>
                          </p>
                          <p class="spec">口味：草莓味</p>
                      </div>
                   </a>
                </div>
             </li>
             <li>
                <div class="h1">
                   <span class="fd-right">总价 <font class="fd-pale">¥ 179.00</font></span>
                   <span>订单状态：退货中</span>
                </div>
                <div class="ordpro">
                   <a href="#">
                      <div class="img"><span><img src="../../ImgUpload/product01.jpg" /></span></div>
                      <div class="info">
                          <h4>VERSACE/范思哲晶钻女用香水范思哲晶钻女用香水</h4>
                          <p>
                             <b class="price">￥1000</b> <span class="fd-gray">x1</span>
                          </p>
                          <p class="spec">口味：草莓味</p>
                      </div>
                   </a>
                </div>
                <div class="btnbox">
                    <a href="#" class="btn2">提交运单号</a>
                </div>
             </li>
             <li>
                <div class="h1">
                   <span class="fd-right">总价 <font class="fd-pale">¥ 179.00</font></span>
                   <span>订单状态：卖家拒绝退货</span>
                </div>
                <div class="ordpro">
                   <a href="#">
                      <div class="img"><span><img src="../../ImgUpload/product01.jpg" /></span></div>
                      <div class="info">
                          <h4>VERSACE/范思哲晶钻女用香水范思哲晶钻女用香水</h4>
                          <p>
                             <b class="price">￥1000</b> <span class="fd-gray">x1</span>
                          </p>
                          <p class="spec">口味：草莓味</p>
                      </div>
                   </a>
                </div>
                <div class="btnbox">
                    <a href="#" class="btn2">查看详细</a>
                </div>
             </li>
         </ul>
      </div>
    
  </div>
  
  
</div>

</body>
</html>
