<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
  </configSections>
  <appSettings>
  </appSettings>
  <log4net>
     <!--定义输出到文本文件中-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
             <param name="File" value="Log\" />
             <param name="KeepDayNum" value="90"/>
             <encoding value="utf-8" />
             <param name="AppendToFile" value="true" />
             <param name="MaxSizeRollBackups" value="10" />
             <param name="MaximumFileSize" value="10MB" />
             <param name="RollingStyle" value="Composite" />
             <param name="DatePattern" value="yyyyMMdd_HH\.\t\x\t" />
             <param name="StaticLogFileName" value="false" />
             <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
       <layout type="log4net.Layout.PatternLayout">
           <param name="ConversionPattern" value="%n=================Start===================== %n时间：%d%n类型：%c%n线程：[%t] %n级别：%p %n输出：%m%n" />
      </layout>
    </appender>

    <!--定义输出到控制台命令行中-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n=================Start===================== %n时间：%d%n类型：%c%n线程：[%t] %n级别：%p %n输出：%m%n" />
      </layout>
    </appender>

    <!--定义输出到windows事件中-->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n=================Start===================== %n时间：%d%n类型：%c%n线程：[%t] %n级别：%p %n输出：%m%n" />
      </layout>
    </appender>

    <!--定义发送信息到邮件-->
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
          <authentication value="Basic" />
          <to value="xxxx@163.com" />           <!--接收邮件地址-->
          <from value="xxxxx@uway.cn" />        <!--发送邮件地址-->
          <username value="xxxxx@uway.cn" />    <!--发送邮件地址-->
          <password value="nic1003" />          <!--密码-->
          <subject value="优网科技平台" />      <!--邮件标题-->
          <smtpHost value="smtp.uway.cn" />
          <bufferSize value="512" />
          <lossy value="false" />
          <layout type="log4net.Layout.PatternLayout">
              <param name="ConversionPattern" value="%n=================Start===================== %n时间：%d%n类型：%c%n线程：[%t] %n级别：%p %n输出：%m%n" />
          </layout>
      </appender>
      
    <!--定义输出到数据库中-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
        <connectionType value="System.Data.OracleClient.OracleConnection, System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--日志数据库连接字符串 （可通过带动态设置）-->
        <connectionString value="" />
        <commandText value="INSERT INTO CASP_LOG(LOG_TIME,LOG_THREAD,LOG_LEVEL,CLASS_NAME,MESSAGE)
                     VALUES(:logTime,:thread,:logLevel,:class,:message)" />
        <!--BufferSize为缓冲区大小，只有日志记录超设定值才会一块写入到数据库-->
        <bufferSize value="0" />
        <!--定义各个参数-->
        <parameter>
            <parameterName value=":logTime" />
            <dbType value="DateTime" />
            <layout type="log4net.Layout.PatternLayout" value="%date{yyyy-MM-dd HH:mm:ss}" />
        </parameter>
        <parameter>
            <parameterName value=":thread" />
            <dbType value="String" />
            <size value="10" />
            <layout type="log4net.Layout.PatternLayout">
              <conversionPattern value="%thread" />
        </layout>
          </parameter>
        <parameter>
            <parameterName value=":logLevel" />
            <dbType value="String" />
            <size value="10" />
            <layout type="log4net.Layout.PatternLayout">
              <conversionPattern value="%level" />
            </layout>
        </parameter>
        <parameter>
            <parameterName value=":class"/>
            <dbType value="String" />
            <size value="100" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%c" />
            </layout>
        </parameter>
        <parameter>
            <parameterName value=":message" />
            <dbType value="String" />
            <size value="4000" />
            <layout type="log4net.Layout.PatternLayout">
              <conversionPattern value="%m" />
            </layout>
          </parameter>
        <filter type="log4net.Filter.LevelRangeFilter">
            <param name="LevelMin" value="ERROR" />
            <param name="LevelMax" value="FATAL" />
        </filter>
     </appender>

    <!--启动日志的输出媒介，可设置一种或多种输出方式-->
    <root>
      <!--文件形式记录日志-->
      <appender-ref ref="RollingFileAppender" />

      <!--控制台控制显示日志-->
      <appender-ref ref="ConsoleAppender" />

      <!--Windows事件日志
      <appender-ref ref="EventLogAppender" />-->

      <!--邮件 日志
      <appender-ref ref="SmtpAppender" />-->

      <!-- 启用存储ERROR和FATAL 日志记录到数据库 
      <appender-ref ref="AdoNetAppender" />  -->
    </root>

    <!-- 定义操作日志 -->
    <appender name="OperateLogAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="0" />
      <connectionType value="System.Data.OracleClient.OracleConnection, System.Data.OracleClient,
                        Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      <!--连接字符串，也可以通过代码设置 data source=WCDMA_241;user id=gdkqi;password=gdkqi;Pooling=true;Max Pool Size=100;Min Pool Size=5;-->
      <connectionString value="" />
      <commandText value="INSERT INTO CASP_LOG_OPERATION(LOG_TIME,OPERATOR_ID,OPERATOR_NAME,OPERATE_TYPE, OPERATE_TYPE_CODE, MODULE_NAME,CLIENT_IP,MESSAGE, REMARK) 
                     VALUES(:logTime,:operatorID,:operatorName,:operateType,:operateTypeCode,:moduleName,:clientIP,:message,:remark)" />
      <parameter>
        <parameterName value=":logTime" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy-MM-dd HH:mm:ss}" />
      </parameter>
      <parameter>
        <parameterName value=":operatorID" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{OperatorID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":operatorName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{OperatorName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":operateType" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{OperateType}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":operateTypeCode" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{OperateTypeCode}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":moduleName" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ModuleName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":clientIP" />
        <dbType value="String" />
        <size value="30" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ClientIP}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":message" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Message}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":remark" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Remark}" />
        </layout>
      </parameter>
    </appender>

    <!--启动/禁止 操作日志logger--> 
    <logger name="OperateLogLogger" additivity="false">
        <level value="INFO" />
        <appender-ref ref="OperateLogAppender" />
    </logger>
  </log4net>
</configuration>